@charset "UTF-8";
body{
    background-color: rgb(122, 166, 247);
    font: normal 15pt Arial;
}

header{
    text-align: center;
    color: white;

}
section{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    width: 250px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.404);
}
img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
div{
    text-align: center;
    padding: 15px;
}
footer{
    text-align: center;
    color: white;
}
@media screen and (min-width:768px) {
    section{
        width: 500px;
    }
}